#skills{
    overflow: hidden;
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    gap: 50px;
}
.skillTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;

}
.skillDesc{
    font-weight: 400;
    font-size: 1rem;
    max-width:50rem;
    padding: 0 2rem;
     
}
.skillBars{
    margin:1.5rem;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width: 81%;
        
}
.skillBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 361px;
    height: 300px;
    margin:1rem;
    padding: 1.5rem 2rem;
    gap:10px;
    border-radius: 0.5rem;
    background: rgb(50,50,50);
    transition: box-shadow 0.2s ease;
}
/* @keyframes glow{
    0% {
        box-shadow: 0 0 15px yellow, 0 0 30px yellow, 0 0 45px yellow;
      }
      50% {
        box-shadow: 0 0 30px yellow, 0 0 60px yellow, 0 0 90px yellow;
      }
      100% {
        box-shadow: 0 0 15px yellow, 0 0 30px yellow, 0 0 45px yellow;
      }
} */
.skillBar:hover{
    box-shadow: 0 0 5px yellow, 0 0 10px yellow, 0 0 15px yellow;
}
.skillBarimgContainer{
    height: 4rem;
    width: 4rem;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
      
    
}
.skillBarImg{
    object-fit: cover;
    height:3rem;
    width:3rem;
    background: inherit;
   
}
.skillBarText{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.skillBarText>p{
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
    text-align: center;
    line-height: 1.5rem;
    letter-spacing: 1px;

}
@media  screen and (max-width:720px) {
    #skills{
        height: fit-content;
    }
    .skillBarText>p{
        font-size: 2vw;
    }
    .skillBars{
        width: 100%;flex-direction: column;
    }
    

    
}
@media  screen and (max-width:480px) {
    
    
    .skillBarText>p{
        font-size: 16px;
        
    }
    .skillBar{
        padding: 0;
    }
    .skillBarImg{
        height:2.25rem;
        width:2.25rem;

    }
    .skillBarText>h2{
        font-size: 5vw;


    }
    
}