.navbar{
    background:#3d3d3d00;
    backdrop-filter: blur(10px);
    height: 5rem;
    width:100vw;
    max-width: 80rem;
    margin:0 auto;
    padding :1rem 2rem;
    display:flex;
    
    align-items:center;
    justify-content:space-between;
    position:sticky;
    top:0;
    z-index:3;
    border-radius: 50px;

    
}

.logo{
    object-fit:cover;
    height:42px;
    width:90px;
    
}
.desktopMenuListItem{
    flex-direction: row;
    margin:1rem;
    color:white;
    cursor:pointer;
}
.desktopMenuListItem:hover{
    color:yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}
.active{
    color:yellow;
    padding-bottom:0.5rem;
    border-bottom: 3px solid yellow;
}
.desktopMenubtn{
    background: white;
    color:rgb(0, 0, 0);
    border:none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap:1rem;
    border-radius:2rem ;
    cursor: pointer;
}
.desktopMenubtn>p{
    font-size: 14px;
    font-weight: 400;
    color:black;
}
.desktopImg{
    height:1rem;
    object-fit: cover;
    width:1rem;
    
}
.mobMenu{
    display: none;
    object-fit: cover;
    height: 1.8rem;
    

}
.navMenu{
    position: absolute;
    top:4rem;
    right:2rem;
    z-index: 2;
    
    
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(6, 6, 6);
    border-radius: 1rem;
    flex-direction: column;
    

}
.ListItem{
    flex-direction: column;
    color: white;
    padding:0.5rem 3rem;
    margin:0.25rem;
    background: rgb(30, 30, 30);
    
}
@media screen and (max-width: 720px) {
    .navbar{
        width: 100%;
        border-radius: 0;
    }
    
    .mobMenu {
        display: flex;
    
    }
    
    .desktopMenu {
        
       display: none;
    }
    
    .desktopMenubtn {
        display: none;
    }
}
@media screen and (max-width:480px) {
    .navbar{
        width: 100%;
        
    }
    
}