#contactPage {
    height: calc(100vh-4rem);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    padding-bottom: 40px;
}

.contact {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactPageTitle {
    font-weight: 300;
    font-size: 3rem;
}

.contactDesc {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap:10px;
    width: 80%;
}

.name,
.email,
.msg {
    font-size: medium;
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: rgb(252, 252, 252);
    border: none;
    border-radius: 0.5rem;
    background: #3d3d3d;

}

.submitBtn {
    border: none;
}
.contactright{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.contactrightText{
    display: none;
    font-weight: 600;
    font-size: 30px;
}
.contactininfor{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap:5px;
}
.full{
    display: flex;
    flex-direction: row;
    gap:25px;
    height: 50px;
    justify-content: left;
    margin-left: 30%;
    align-items: center;
    transition: transform 0.2s ease;
}
.full:hover > .icon{
    transform: translateX(-10px);
}
@media screen and (max-width:720px){
    #contactPage{
        height: fit-content;
        width: 100%;
        flex-direction: column;
        gap:20px;
        margin-top: 70px;
    }
    .contact{
        width: 90%;
    }
    .contactright{
        width: 90%;
       
    }
    .full{
        position: relative;
        left: -80px;
    }
    .contactrightText{
        display: block;
        margin-bottom: 20px;
    }
}